html {
    scroll-behavior: smooth;
    /*rolagem suave ao clique de atalhos*/
}

body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body p,
h2,
h3 {
    margin-left: 2%;
    margin-right: 2%;
}

body h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: xx-large;
    
}

body h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: xx-large;
}

body h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: x-large;
}

#alert {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(10, 10, 10);
}

.navbar {
    background-color: rgb(14, 13, 13);
    padding: 0,1%;
    text-align: center;
    margin: auto;
    
    /*position: fixed;
    width: 100vw;
    top: 0; */
}

.navbar h1 {
    text-decoration: overline underline;
    color: rgb(252, 249, 249);
}

.subnav {
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.1%;
    flex: 1;
    text-align: center;
    margin: auto;
}

.subnav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subnav ul li {
    align-items: center;
}

.subnav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#upBtn {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.308) 
    
}

/*botão inicio*/
#upBtn a {
    text-decoration: none;
    color: rgba(5, 5, 5, 0.945);
}

/*quadrado 1*/
.grupo1 {
    background-color: lightgrey;
    height: 150px;
    width: 150px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); 
}
/*quadrado2*/
.grupo2 {
    background-color: darkgrey;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o);
}
/*quadrado3*/
.grupo3 {
    background-color: grey;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); 
}
/*align itens: strtech*/
.grupo1noSpace {
    background-color: lightgrey;
    width: 150px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); 
}

.grupo2noSpace {
    background-color: darkgrey;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o);
}

.grupo3noSpace {
    background-color: grey;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0)
}

.grupo1baseline {
    background-color: lightgrey;
    height: 150px;
    width: 150px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(158, 154, 154);
}

.grupo2baseline {
    background-color: darkgrey;
    height: 80px;
    width: 150px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(143, 125, 125);
}

.grupo3baseline {
    background-color: grey;
    height: 111px;
    width: 150px;
    text-align: center;
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(143, 125, 125);
}
.containerAlignItemsBaseline {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.containerAlignContentSpaceEvenly {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.containerRow{
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
}


.containerRowReverse {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
}

.containerColumn {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.containerColumnReverse {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
}

.containerJustifyCenter {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerJustifyStart {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.containerJustifyEnd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.containerJustifySpaceBtw {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerJustifySpaceArd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerJustifySpaceEvy {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerAlignItemsCenter {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerAlignItemsStart {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.containerAlignItemsEnd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.containerAlignItemsStretch {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}


.containerFlexWrapNowWrap {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: Flex Wrap Now Wrap;
}

.containerFlexWrapWrap {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerFlexWrapWrapReverse {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: Wrap-reverse;
}

.containerFlexFlowRowNoWrap {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: Wrap-reverse; */
    flex-flow: nowrap;
}


.containerAlignContentCenter {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.containerAlignContentFlexStart {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.containercontainerAlignContentFlexEnd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.containerAlignContentSpaceAround {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.containerAlignContentSpaceBetween {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}


.footer {
    background-color: rgb(22, 22, 22);
    padding: 0.1%;
    text-align: center;
    margin: auto;
    margin-top: 10vw;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    color: rgb(179, 163, 163);
    height: 10vw;
    display: flex;
    flex-direction: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}