html {
    scroll-behavior: smooth;
    /*rolagem suave ao clique de atalhos*/
}

body {
    margin: 0;

}
body p,
h2,
h3 {
    margin-left: 2%;
    margin-right: 2%;
}

body h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: xx-large;

}

body h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: xx-large;
}

body h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: x-large;
}

#alert {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

.navbar {
    background-color: black;
    padding: 0,1%;
    text-align: center;
    margin: auto;

    /*position: fixed;
    width: 100vw;
    top: 0; */
}

.navbar h1 {
    text-decoration: overline underline;
    color: white;
}

.subnav {
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.1%;
    flex: 1;
    text-align: center;
    margin: auto;
}

.subnav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.subnav ul li {
    align-items: center;
}

.subnav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#upBtn {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.308) green, blue, alpha);
    margin: 3vw;
    float: :right
}

#upBtn a {
    text-decoration: none;
    color: black;
}


.grupo1 {
    background-color: lightgrey;
    height: 150px;
    width: 150px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo2 {
    background-color: darkgrey;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo3 {
    background-color: grey;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo1noSpace {
    background-color: lightgrey;
    width: 150px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo2noSpace {
    background-color: darkgrey;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo3noSpace {
    background-color: grey;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo1baseline {
    background-color: lightgrey;
    height: 150px;
    width: 150px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo2nobaseline {
    background-color: darkgrey;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.grupo3nobaseline {
    background-color: grey;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, o); green, blue);
}

.containerRow{
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.containerRowReverse {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
}

.containerColumn {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.containerColumnReverse {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
}

.containerJustifyCenter {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerJustifyStart {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.containerJustifyEnd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.containerJustifySpaceBtw {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerJustifySpaceArd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerJustifySpaceEvy {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerAlignItemsCenter {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerAlignItemsStart {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.containerAlignItemsEnd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.containerAlignItemsStretch {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.containerAlignItemsBaseline {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.containerFlexWrapNowWrap {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: Flex Wrap Now Wrap;
}

.containerFlexWrapWrap {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: Wrap;
}

.containerFlexWrapWrapReverse {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: Wrap-reverse;
}

.containerFlexFlowRowNoWrap {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: Wrap-reverse; */
    flex-flow: nowrap;
}


.containerAlignContentCenter {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.containerAlignContentFlexStart {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.containercontainerAlignContentFlexEnd {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.containerAlignContentSpaceAround {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.containerAlignContentSpaceBetween {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.containerAlignContentSpaceEvenly {
    background-color: rgb(39, 39, 39);
    padding: 16px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.footer {
    background-color: black;
    padding: 0.1%;
    text-align: center;
    margin: auto;
    margin-top: 10vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    color: white;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}